/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.timeline {
  --timelineWidth: 1000px;
  --stepsQuantity: 4;
  --checkpointDiameter: 10px;
  --lineThickness: 2px;
  --interelementGap: 2px;
  --uncomletedStepColor: lightgrey;
  --currentStepColor: darkorange;
  --comletedStepColor: green;

  display: table;
  width: var(--timelineWidth);
}

.timeline--step-is-point {
  --stepsQuantity: 3;
}

.timeline__step {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: calc(var(--timelineWidth) / var(--stepsQuantity) - (var(--checkpointDiameter) / var(--stepsQuantity)));
  height: 60px;
}

.timeline--step-is-point .timeline__step:last-child {
  width: var(--checkpointDiameter);
}

.timeline__step-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0 5px;
  white-space: nowrap;
  color: grey;
}

.timeline--label-bottom .timeline__step-label {
  top: initial;
  bottom: 0;
}

.timeline--step-is-point .timeline__step-label {
  width: initial;
}

.timeline--step-is-point .timeline__step:not(:first-child).timeline__step:not(:last-child) .timeline__step-label {
  padding-left: 15px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline--step-is-point .timeline__step:last-child .timeline__step-label {
  left: initial;
  right: 0;
}

.timeline__step-checkpoint {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: var(--checkpointDiameter);
  height: var(--checkpointDiameter);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--uncomletedStepColor);
}

.timeline__step--uncompleted .timeline__step-checkpoint {
  background-color: transparent;
  border: 2px solid var(--uncomletedStepColor);
}

.timeline__step--current .timeline__step-checkpoint {
  background-color: var(--currentStepColor);
  border: none;
}

.timeline__step--completed .timeline__step-checkpoint {
  background-color: var(--comletedStepColor);
  border: none;
}

.timeline__step-line {
  position: absolute;
  top: 50%;
  left: calc(var(--checkpointDiameter) + var(--interelementGap));
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: calc(100% - var(--checkpointDiameter) - var(--interelementGap) * 2);
  height: var(--lineThickness);
}

.timeline--step-is-point .timeline__step:last-child .timeline__step-line {
  display: none;
}

.timeline__step--uncompleted .timeline__step-line {
  background-color: var(--uncomletedStepColor);
}

.timeline__step--current .timeline__step-line {
  background-color: var(--currentStepColor);
}

.timeline__step--completed .timeline__step-line {
  background-color: var(--comletedStepColor);
}

.timeline--step-is-point .timeline__step--current .timeline__step-line {
  background-color: var(--uncomletedStepColor);
}

.timeline--step-is-point .timeline__step--completed .timeline__step-line {
  background-color: var(--comletedStepColor);
}

.timeline__step:last-child .timeline__step-line::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: calc((var(--checkpointDiameter) + var(--interelementGap)) * -1);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: var(--checkpointDiameter);
  height: var(--checkpointDiameter);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--uncomletedStepColor);
}

.timeline__step.timeline__step--completed:last-child .timeline__step-line::after {
  background-color: var(--comletedStepColor);
  border: none;
}

/* Control Panel Styles */
.control-panel {
  padding: 10px;
  margin-top: 30px;
}

.control-panel__radiobox {
  display: inline-block;
  width: 160px;
  padding: 10px;
  margin: 20px;
  border: 1px solid lightgrey;
}

.control-panel__radiobox * {
  margin: 5px;
}

button {
  display: block;
  width: 364px;
  padding: 15px;
  background-color: orange;
  border-radius: 5px;
  margin-left: 20px;
}